# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
# Editors
.idea/
# Byte-compiled / optimized / DLL files
__pycache__/
# Distribution / packaging
build/
# Spec file
main.spec
